services:
  - type: web
    name: flight-app-service
    # Agregamos el runtime según la documentación oficial que encontraste
    runtime: docker
    image:
      url: danieljimenez982/hackatonone_flightontime:latest
    plan: free
    region: ohio
    envVars:
      - key: MYSQL_HOST
        fromDatabase:
          name: flight-db-persistent
          property: host
      - key: MYSQL_USER
        fromDatabase:
          name: flight-db-persistent
          property: user
      - key: MYSQL_PASSWORD
        fromDatabase:
          name: flight-db-persistent
          property: password
      - key: MYSQL_DATABASE
        fromDatabase:
          name: flight-db-persistent
          property: database
      - key: PORT
        value: "8080"

databases:
  - name: flight-db-persistent
    databaseName: flight_system
    user: admin
    plan: free
    region: ohio
